
{% extends 'base.html' %}
{% load static %}
{% block content%}




<html>
    <head>
        <title>Welcome to sector's web app</title>
    </head>
    <body>
        <h1>Welcome to Register</h1>
        <p class="alret alert-warning" >{{message}}</p>
        <form action="{% url 'updateInfos' id=update.id%}" method="POST">
            
            {% csrf_token %}
            <label>Phone</label> 
            <input type="text" name="phone" value="{{update.phone}}" class="form-control">
            <label>First name</label> 
            <input type="text" name="firstname" value="{{update.firstname}}" class="form-control">
            <label>Last name</label>
            <input type="text" name="lastname" value="{{update.lastname}}" class="form-control">
            <button type="submit" name="submit" class="btn btn-success">SEND</button>
            
        



        </form>

        <table class="table">
            <tr>
                <td>id</td>
                <td>Phone</td>
                <td>Firstname</td>
                <td>lastname</td>
                <td>Updates</td>
                <td>Delete</td>
            </tr>
            {% for ida in data %}
            <tr>
            <td>{{ ida.id}}</td> 
            <td>{{ ida.phone}}</td>
            <td>{{ ida.firstname}}</td>
            <td>{{ ida.lastname}}</td>   
            <td><a href="{% url 'updateInfos' id=ida.id %}"><span class="btn btn-success"> Updates</span></td>
            <td><a href="{% url 'deleteInfos' id=ida.id %}"><span class="btn btn-danger">Delete</span></td>   
            </tr>
            {% endfor %}
            
        </table>



    </body>
</html>


{% endblock %}